body {
	margin: 10px 0 30px;
}
pre {
	overflow-x: auto;
	word-wrap: normal;
	-moz-tab-size: 4;
	     tab-size: 4;
}
input:valid + #label {
	color: #777;
}
.form-control:focus {
	border-color: #ccc;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	outline: 0;
}
#content {
	max-width: 620px;
}
#messages {
	color: #ccc;
	height: 180px;
	overflow-y: scroll;
}
#messages .intro {
	min-height: 1em;
	color: #000;
}
#label {
	-webkit-user-select: none;
	   -moz-user-select: none;
	color: #ccc;
	font-weight: normal;
	font-size: 13px;
	margin-top: -26px;
	position: absolute;
	right: 45px;
	transition: all .3s;
}
#version {
	color: #bbb;
	margin-top: 10px;
	text-align: center;
}

@media (max-width: 480px) {
	#label {
		opacity: 0;
	}
}

.com { color: #93a1a1; }
.lit { color: #195f91; }
.pun, .opn, .clo { color: #93a1a1; }
.fun { color: #dc322f; }
.str, .atv { color: #D14; }
.kwd, .prettyprint .tag { color: #1e347b; }
.typ, .atn, .dec, .var { color: teal; }
.pln { color: #48484c; }
.prettyprint {
	padding: 9.5px;
	background-color: #f7f7f9;
	border: 1px solid #e1e1e8;
}
.prettyprint.linenums {
	-webkit-box-shadow: inset 40px 0 0 #fbfbfc, inset 41px 0 0 #ececf0;
	   -moz-box-shadow: inset 40px 0 0 #fbfbfc, inset 41px 0 0 #ececf0;
		box-shadow: inset 40px 0 0 #fbfbfc, inset 41px 0 0 #ececf0;
}
ol.linenums {
	margin: 0 0 0 33px;
}
ol.linenums li {
	padding-left: 12px;
	color: #bebec5;
	line-height: 20px;
	text-shadow: 0 1px 0 #fff;
}